.movies-card {
  position: relative;
}

.movies-card__pic {
  width: 360px;
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__name-link {
  text-decoration: none;
  color: #fff;
}

.movies-card__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  padding: 0 14px;
}

.movies-card__duration {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 10px;
  color: #8b8b8b;
  background-color: #2f2f2f;
  border-radius: 3px;
  padding: 3px 4px;
  height: 18px;
  width: 52px;
}

.movies-card__button {
  position: absolute;
  top: 14px;
  right: 14px;
  border-radius: 30px;
  border: none;
  background: no-repeat center;
  transition: opacity 0.3s;
  cursor: pointer;
  display: none;
}

.movies-card__button_style_round {
  width: 21px;
  height: 21px;
}

.movies-card__button_type_to-save {
  font-size: 10px;
  line-height: 9px;
  color: #fff;
  background-color: #313131;
  width: 72px;
  height: 21px;
}

.movies-card__button_type_to-save:hover {
  display: block;
}

.movies-card__button_type_remove {
  background-image: url(../../images/cross_icon.svg);
  background-color: #313131;
}

.movies-card__button_type_remove:hover {
  display: block;
}

.movies-card__button_type_saved {
  background-image: url(../../images/checkmark_icon.svg);
  background-color: #ee3465;
  display: block;
}

.movies-card__button_type_saved:disabled {
  display: none;
}

.movies-card__pic-link:hover ~ .movies-card__button_type_to-save {
  display: block;
}

.movies-card__pic-link:hover ~ .movies-card__button_type_remove {
  display: block;
}

@media screen and (max-width: 1024px) {
  .movies-card__pic {
    width: 339px;
    height: 190px;
  }

  .movies-card__info {
    margin: 9px 0 0;
  }

  .movies-card__name {
    padding: 9px 0 0;
  }

  .movies-card__duration {
    padding: 4px 5px;
    margin: 11px 0px 0 0;
  }
}

@media screen and (max-width: 450px) {
  .movies-card__pic {
    width: 300px;
    height: 168px;
  }

  .movies-card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .movies-card__duration {
    font-size: 12px;
    padding: 4px 5px;
    margin: 11px 0px 0 0;
  }
  .movies-card__info {
    max-width: 300px;
  }
}
