.search-form {
  margin: 80px auto 83px;
  padding: 0 70px;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
}

.search-form__form {
  width: 100%;
  max-width: 932px;
  display: flex;
  position: relative;
}

.search-form__input {
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
  color: #fff;
  background-color: inherit;
  font-size: 14px;
  line-height: 18px;
  padding: 15px 22px;
  width: 100%;
  max-width: 932px;
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 80px;
  height: 34px;
  border: none;
  background-image: url(../../images/search_icon.svg);
  background-position: top;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 48px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.search-form__button:hover {
  opacity: 0.8;
}
