.no-result {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.no-result__text {
  margin: 0 auto;
  padding: 150px 0;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  max-width: 590px;
}
